
header{

    border: .25em solid white;
    border-color: #8C8273;
    border-radius: 3em;
    color: white;
    background-color: #313537;

    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 1.5em;
    padding: .5em;
    margin: 0% 43% 2%;
}



body{
    text-align: center;
    background-color: #4D5356;
    background-repeat: no-repeat;
    border-color: #8C8273;
    color: #d8d4cf;
}


button{
    
    border: .25em solid white;
    border-color: #8C8273;
    border-radius: 3em;
    color: white;
    background-color: #313537;

    text-align: center;
    font-size: 2em;
    padding: 1em;
    margin: 2% 40%;

}

#Buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#catDifficulty{
    border: .25em solid white;
    border-color: #8C8273;
    border-radius: 3em;
    color: white;
    background-color: #313537;
    margin: 0% 35% 2%;

    width: 20%;
    height: 20%;   
    aspect-ratio: 1/1;
}


.slideContainer{
    width: 20%;
    margin: 0% 40% 3%;
    height: 2em;
}

.slider{
    appearance: none;
    background: linear-gradient(90deg, rgb(255, 255, 255) 60%, rgb(255, 255, 255) 60%);
    width: 100%;
    height: 2em;
    outline: none;
    transition: .2s;
    border-radius: 1em;
    opacity: 0.7;
}

.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    appearance: none;
    width: 2em;
    height: 2em;
    background: black;
    cursor: pointer;
    border-radius: 50%;

}


p {

    font-size: 1.5em;
    text-align: center;
}

#GameMode{
    display: none;
    justify-content: space-around;
}

#gameboard{
    width: 30%;
    height: 30%;
    
}



